@media(max-width: 768px) {
    .informacoes {
    max-width: 15rem;
    height: 12rem;
    transform: translateY(20%);
    position: absolute;
}

    .informacoes h2 {
        font-size: 16px;
        padding: 5px;
    }

    .informacoes span {
        font-size: 13px;
    }

    .botao {
        padding: 10px;
        left: -4.2rem;
    }

    .seta {
    transform: translateX(30px);
    }

.seta-esquerda {
    top: 37%;
}

.seta-direita {
    top: 45%;
}
} 